<% if notice.present? %>
    <div class="alert alert-success text-center mt-3 mb-0" role="alert">
        <%= notice %>
    </div>
    <div class="card shadow rounded mt-3">
    <%= render 'task_card' %>
<% elsif alert.present? %>
    <div class="alert alert-danger text-center mt-3 mb-0" role="alert">
        <%= alert %>
    </div>
    <div class="card shadow rounded mt-3">
    <%= render 'task_card' %>
<% else %>
    <div class="card shadow rounded mt-md-5 mt-3">
    <%= render 'task_card' %>
<% end %>
  
  <div class="text-center mt-3 mb-5">
    <%= link_to 'Back to Journals', categories_path, class: 'fw-light text-decoration-none' %>
  </div>
</div>