<% if notice.present? %>
    <div class="alert alert-success text-center mt-3 mb-0" role="alert">
        <%= notice %>
    </div>
<% elsif alert.present? %>
    <div class="alert alert-danger text-center mt-3 mb-0" role="alert">
        <%= alert %>
    </div>
<% end %>
<div class='d-flex flex-column justify-content-between align-items-center'>
  <div class='col-md-6 col-11 mt-lg-5 mt-4'>
    <div class='card'>
      <div class="card-body shadow-lg rounded px-5 py-4">
      <h1 class='card-title display-5 mb-4'>Your Profile</h1>
      <%= form_for(current_user) do |f| %>
        <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'w-100 mb-2 form-control' %>
        </div>

        <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'w-100 mb-2 form-control' %>
        </div>
      
        <div class="actions text-center">
            <%= f.submit "Update Name", class: 'btn btn-success btn-sm mb-3 mt-2 shadow rounded' %>
        </div>
      <% end %>   
      <p class='text-center mb-1 mt-2'><%= link_to 'Edit Account Credentials', edit_user_registration_path, class: 'text-decoration-none' %></p>
      </div>
    </div>
  </div>
</div>


