<% if notice.present? %>
    <div class="alert alert-success text-center mt-3 mb-0" role="alert">
        <%= notice %>
    </div>
<% elsif alert.present? %>
    <div class="alert alert-danger text-center mt-3 mb-0" role="alert">
        <%= alert %>
    </div>
<% end %>

<% if @current_user.tasks.count == 0 %>
  <%= render 'no_tasks' %>
<% else %>
  <% if @tasks.count >= 1 %>
    <%= render 'result_card' %>
  <% elsif @tasks.count == 0 %>
    <%= render 'no_results' %>
  <% end %>
<% end %>