<div class="card shadow-sm rounded mt-lg-5">
  <div class="card-body">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fw-light mb-4">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item"><%= link_to 'Journals', categories_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active" aria-current="tasks"><%= @category.category_name %></li>
      </ol>
    </nav>
      <h2 class="card-title d-flex justify-content-between m-0">
      <span class='display-5 mb-3 fw-normal'><%= @category.category_name %></span>

      <div>
        <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary btn-sm' %>
        <%= link_to 'Delete', @category, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
      </div>
      </h2>
            <div class="progress mb-5">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: <%= @category.percent_complete %>%;" aria-valuenow="<%= @category.percent_complete %>" aria-valuemin="0" aria-valuemax="100"><%= @category.total_complete %> / <%= @category.total_tasks %>
                        </div>
                    </div>
      <div class="mb-4">
        <% if @category.description.present? %>
          <span class='fw-bold'>Description:</span> 
        <% end %>
        <%= @category.description %>
      </div>

      <hr class='my-4'>
      <div class='d-flex justify-content-between align-items-center mb-4 mb-lg-5'>
        <h4 class='display-6 fw-normal m-0'>Tasks</h4>
        <span>
          <%= link_to '+ New Task', new_category_task_path(@category), class: 'btn btn-success text-center' %>
        </span>
      </div>

      <% @category.tasks.each do |task| %>
        <% if task.persisted? %>
          <div class="card mb-2 shadow-sm task-card">
            <div class="card-body py-2">
              <div class="d-flex justify-content-between align-items-center">
                <span class="badge mt-2 bg-<%= task.badge_color %> mb-2 text-center"><%= task.status %></span>
                <div class='my-2'>
                  <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_category_task_path(task.category, task), class: 'btn btn-secondary btn-sm' %>
                  <%= link_to '<i class="bi bi-trash"></i>'.html_safe, [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                  
                </div>
              </div>

              <div class='d-flex justify-content-between'>
                <h5 class="card-title mb-3">
                  <%= task.item %>  
                </h5>

                <div>
                  <span><%= link_to '<i class="bi bi-calendar-check"></i>'.html_safe, edit_category_task_path(task.category, task), class: 'text-decoration-none text-dark' %></span>
                </div>
              </div>
              
              <p class="mb-2 text-secondary"><%= task.description %></p>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center mt-2 mb-5">
    <%= link_to 'Back to Journals', categories_path %>
  </div>
</div>

<%# add sort by feature %>
<%# add time feature (created at) %>