<div class="card shadow-sm rounded mt-lg-5">
  <div class="card-body">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fw-light mb-4">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item"><%= link_to 'Journals', categories_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active" aria-current="tasks"><%= @category.category_name %></li>
      </ol>
    </nav>
    <h2 class="card-title d-flex justify-content-between">
      <span class='display-5 fw-normal'><%= @category.category_name %></span>
      <div>
        <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary btn-sm' %>
        <%= link_to 'Delete', @category, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
      </div>
      </h2>
      <div class="mb-4">
        <% if @category.description.present? %>
          <span class='fw-bold'>Description:</span> 
        <% end %>
        <%= @category.description %>
      </div>

      <hr class='my-4'>

      <div class="mb-4">
        <h6>Add a task</h6>
        <%= form_for([@task.category, @task]) do |form| %>
        <%= render 'shared/errors', obj: @task%>
        <%= form.hidden_field :status, value: 'not-started'%>
        <div class="input-group">
          <%= form.text_field :item, class: 'form-control', placeholder: 'Enter task name' %>
          <%# <%= form.submit class: 'btn btn-primary btn'%>
        </div>
      </div>
      <div class="mb-4">
        <h6>Task description</h6>
        <div class="input-group">
          <%= form.text_field :description, class: 'form-control', placeholder: 'Task description (optional)' %>
          <%= form.submit class: 'btn btn-primary btn'%>
          <% end %>
        </div>
      </div>

    <hr class='my-4'>

      <h4>Tasks</h4>
      <% @category.tasks.each do |task| %>
        <% if task.persisted? %>
          <div class="card mb-2 shadow-sm task-card">
            <div class="card-body py-2">
              <div class="d-flex justify-content-between align-items-center">
                <span class="badge mt-2 bg-<%= task.badge_color %> mb-2 text-center"><%= task.status %></span>
                <div class='my-2'>
                  <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_category_task_path(task.category, task), class: 'btn btn-secondary btn-sm' %>
                  <%= link_to '<i class="bi bi-trash"></i>'.html_safe, [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                </div>
              </div>
              
              <h5 class="card-title mb-3">
                <%= task.item %>  
              </h5>
              <p class="mb-2 text-secondary"><%= task.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center mt-2 mb-5">
    <%= link_to 'Back to Journals', categories_path %>
</div>
</div>

<%# add sort by feature %>
<%# add time feature (created at) %>