<div class="card shadow-sm rounded mt-5">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between">
      <span><%= @category.category_name %></span>
      <div>
       <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-light btn-sm' %>
        <%= link_to 'Delete', @category, method: :delete, class: 'btn btn-secondary btn-sm', data: { confirm: 'Are you sure?' } %>
      </div>
      </h2>
      <div class="mb-4">
        <%= @category.description %>
      </div>

      <div class="mb-4">
        <h6>Add task</h6>
        <%= form_for([@task.category, @task]) do |form| %>
        <%= render 'shared/errors', obj: @task%>
        <%= form.hidden_field :status, value: 'not-started'%>
        <div class="input-group">
          <%= form.text_field :item, class: 'form-control', placeholder: 'Enter task name' %>
          <%= form.submit class: 'btn btn-primary btn'%>
          <% end %>
        </div>
      </div>
        
      <h4>Tasks</h4>
      <% @category.tasks.each do |task| %>
        <% if task.persisted? %>
          <div class="card mb-1 shadow-sm task-card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <span class="badge mt-2 bg-<%= task.badge_color %> mb-2 text-center"><%= task.status %></span>
                <div class='my-2'>
                  <%= link_to 'Edit', edit_category_task_path(task.category, task), class: 'btn btn-light btn-sm' %>
                  <%= link_to 'Delete', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm' %>
                </div>
              </div>
              
              <h5 class="card-title mb-3">
              <%= task.item %>  
              </h5>
              <p class="mb-0 text-secondary"><%= task.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center mt-2 mb-5">
    <%= link_to 'Back to Categories', categories_path %>
</div>
</div>